body {
    background-color: rgb(245, 236, 245);
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Roboto: Black 900', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(95, 26, 185);
}
img {
    width: 450px;
    height: 240px;
}

main {
    background-color: rgb(144, 80, 228);
    width: 700px;
    margin: 50px auto 35px auto;
    padding: 40px 20px 30px 30px;
    text-align: left;
    border-radius: 8px;
}

h2 {
    font-family: 'Roboto: Black 900', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

strong 
{
    font-weight: bolder;
}

ol {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

li {
    list-style: none;
    border-left: 5px solid transparent;
    padding-left: 20px;
    margin-bottom: 10px;
}

.highlight {
    color: rgb(250, 235, 96);
    border-left: 5px solid rgb(250, 235, 96);
}

main a {
    background-color: rgb(252, 240, 137);
    color: indigo;
    font-family: 'Roboto: Black 900', sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px 5px;
}

footer a {
    background-color: gold;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
}

footer p {
    color: rgb(121, 119, 119);
    margin-top: 35px;
}
