img {
    display: block;
    text-align: left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-left-style: groove;
    border-left-color: black;
}

header p {
    font-family: 'Lato', sans-serif; 
    font-size: 15px;
    font-weight: bold;
    text-align: center; 
    color: rgb(61, 61, 61);

}

h2 {
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    text-align: center;
    color: rgb(11, 11, 87);
}

.goals {
    color: rgb(34, 79, 148);
    font-weight: bold;
}

a {
    font-family: 'Lato', sans-serif; 
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    color: rgb(32, 132, 179);
    margin: 20px auto 0 auto;
    width: 400px;
}
a:hover {
    text-decoration: none;
    color: seashell;
    background-color: rgb(42, 116, 153);
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;    
}

ol {
    list-style: none;
    color: rgb(31, 84, 109);
    margin: 10px auto 10px auto;
    width: 450px;
    padding: 3px;
}
 li { 
    background-color: rgb(223, 222, 222);
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 3px;
}
.what-first {
    background-color: rgb(175, 174, 174);
}